<p style="text-align:center">
	<button class= "redbutton toggle" style="width:250px; font-size:22px">
		<%= link_to 'Support Our Journey', new_donation_path, class: "widebutton" %>
	</button>
</p>


<p style="text-align:center">
	<span class= "redbuttonspan" style="width:250px; font-size:22px">
		<%= link_to 'Support Our Journey', new_donation_path, class: "widebutton" %>
	</span>
</p>
