
<div class='redbox center large'>
	<h1 style="width:180px">About</h1>
	<div style="margin-top:40px">
		<p class="smaller">
			FOR A PERIOD OF THREE MONTHS WE TRAVELLED VIETNAM, CAMBODIA, LAOS, THAILAND AND BURMA.
		</p>
		<p class="smaller">
			THIS BACKPACKING TRIP INSPIRED US IN MANY WAYS. WE SAW AND UNDERSTOOD MORE OF THE WORLD, WE OPENED UP TO NEW CULTURES, MADE INVALUABLE ENCOUNTERS AND IDENTIFIED VALUES AND BELIEFS WE CAME TO CHERISH. MORE THAN ONCE, WE ALSO HAD TO LEAVE OUR COMFORT ZONE AS WE EMBARKED ON ADVENTURES THE OUTCOME OF WHICH WAS UNKNOWN, WE SHARED BOTH FEARS AND JOY AND ABOVE ALL WE EXPERIENCED HAPPINESS AND GRATEFULNESS TO BE TOGETHER.
		</p>
		<p class="smaller">
			WE CAN'T WAIT TO TAKE OFF FOR MORE...!
		</p>
	</div>
</div>
<p style="text-align:center">
	<button class= "redbutton" style="width:170px"><%= link_to 'Support', new_donation_path %></button>
</p>
