<div class='redbox center'>
	<h1 style="width:250px">Bank Transfer</h1>
	<div style="padding-left:40px">
		<table id="smalltable">
			<tbody>
				<tr><td class="left">BANK</th><td class="right">Hypo Vereinsbank</td></tr>
				<tr><td class="left">RECIPIENT</th><td class="right">Oktay Halman</td></tr>
				<tr><td class="left">IBAN</th><td class="right">DE13700202700657590746</td></tr>
				<tr><td class="left">BIC</th><td class="right">HYVEDEMMXX</td></tr>
				<tr><td class="left">REFERENCE</th><td class="right">MT Journey - <%=@donation.name%></td></tr>
			</tbody>
		</table>
		<div>
			<%= link_to 'Back', donation_path(@donation), class: "back" %><button class= "redbutton complete"><%=link_to 'Complete', "/donations/#{@donation.id}/bcomplete", method: :post%></button>
		</div>

	</div>
</div>


<div class="textunder center">
	<p>
		PLEASE TRANSFER THE AMOUNT<br>TO THE BANK ACCOUNT OF THE BEST MAN OKTAY HALMAN
	</p>
</div>
