
<div class='redbox center large'>
	<h1 style="width:250px">Help / Contact</h1>
	<div style="width:500px" class="center">
		<p style="margin-top:50px" class="smaller">
			IF YOU HAVE ANY PROBLEMS WITH YOUR CONTRIBUTION PLEASE CONTACT THE BEST MAN
		</p>
	 	<p class="smaller">
			MAIL: OKTAY.HALMAN@ME.COM
		</p>
		<p class="smaller">
			MOBILE: +49 (0)151 12429004
		</p>
		<%=image_tag 'oktay.png', class: "center", style: "width:110px" %>
	</div>
</div>
<%= render 'pages/button' %>
