
<div class='redbox center large'>
	<h1 style="width:250px">Help / Contact</h1>
	<div style="width:500px" class="center">
		<p style="margin-top:75px">
			IF YOU HAVE ANY PROBLEMS WITH YOUR CONTRIBUTION PLEASE CONTACT THE BEST MAN
		</p>
	 	<p>
			MAIL: OKTAY.HALMAN@ME.COM
		</p>
		<p>
			MOBILE: +49 (0)151 12429004
		</p>
	</div>
</div>
<p style="text-align:center">
	<button class= "redbutton" style="width:170px"><%= link_to 'Support', new_donation_path %></button>
</p>
