<%= render 'pages/links' %>
<div class='redbox center large'>
	<h1 style="width:250px">Help / Contact</h1>
	<p style="margin-top:75px">
		If you have any problems with<br>
		your contribution please<br>
		contact
	</p>
 	<p>
		Mail: oktay.halman@me.com
	</p>
	<p>
		Mobile: +49 (0)151 12429004
	</p>
</div>
