<div class='redbox center large'>
	<h1 style="width:180px">Thank you</h1>
	<%=image_tag 'thankyou2.png', class: "center", style: "margin-top:30px; width:450px" %>

	<p class="smaller">“ONE'S DESTINATION IS NEVER A PLACE, BUT A NEW WAY OF SEEING THINGS."</p>
	<p class="smaller" style="font-style:italic"><small>– HENRY MILLER</small></p>

</div>
