.toggle {
	display: none !important;
}
.redbuttonspan {
	display: initial;
	padding-top:9px;
	background-color:white;
	color: #F1899A;
	border: #F1899A 2px solid;
	font-family: 'Pinyon Script', cursive;
	font-size:1.3em;
	height:26px;
	display:inline-block;
	text-align: center;
	a {
		text-decoration: none;
		color: #F1899A;
		font-family: 'Pinyon Script', cursive;
	}
}
