$red: #F1899A;
$green: #AAD025;

* {
	color:$green;
	font-family: 'Bentham', serif;
}

#nav {
	text-align:center;
	padding-left:0px;
	li {
		display:inline;
		margin: 25px;
		a {
			color: black;
			text-decoration:none;
			font-size:1.5em;
		}
	}
}

.center {
	margin: 0px auto;
	display: block;
}

.redbox {
	margin-top:50px;
	border: $red 3px solid;
	width: 500px;
	padding:15px;
	font-size:18px;
	h1 {
		text-align:center;
		color:$red;
		font-family: 'Pinyon Script', cursive;
		width:270px;
		position:relative;
		margin:-25px auto 15px;
		background-color:white;
	}
}

.form {
	* {
		padding:5px;
	}
	label {
		display:inline-block;
		width:100px;
	}
	input {
		width:350px;
		text-align:center;
	}
}

#commentfield {
	text-align:left;
	height:50px;
	font-size:16px;
}

.redbutton {
	background-color:white;
	color: $red;
	border: $red 2px solid;
	font-family: 'Pinyon Script', cursive;
	font-size:1.3em;
}

#submit {
	width: 200px;
	position:relative;
	left:165px;
}


#showtable {
	* {
		padding:5px;
		font-size:18px;
	}
	th {
		display:inline-block;
		width:100px;
	}
	td {
		width:350px;
		text-align:center;
	}
}


body {
	background-color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
/*	color: #000;
	&:visited {
		color: #666;
	}
	&:hover {
		color: #fff;
		background-color: #000;
	}*/
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
