$red: #F1899A;
$green: #AAD025;

* {
	color:$green;
	font-family: 'Bentham', serif;
}

.nav {
	text-align:center;
	padding-left:0px;
	li {
		display:inline;
		margin: 25px;
		a {
			color: black;
			text-decoration:none;
			font-size:1.5em;
		}
	}
}

.center {
	margin: 0px auto;
	display: block;
}

.redbox {
	margin-top:50px;
	border: $red 3px solid;
	width: 500px;
	height: 259px;
	padding:15px;
	font-size:18px;
	h1 {
		text-align:center;
		color:$red;
		font-family: 'Pinyon Script', cursive;
		position:relative;
		margin:-25px auto 15px;
		background-color:white;
	}
	p {
		text-align:center;
		font-size:24px;
		line-height:30px;
		font-family: 'Bentham', serif;
	}
	table {
		margin-left:5px;
		* {
			padding:5px;
			font-size:18px;
			font-family: 'Bentham', serif;
		}
		.left {
			vertical-align:middle;
			display: table-cell;
			text-align: left;
			width:110px;
		}
		.right {
			width:340px;
			text-align:center;
		}
		tr {
			height:50px;
		}
	}
}

.textunder {
	margin-top:30px;
	width: 500px;
	p {
		color: gray;
		text-align:center;
		font-size:16px;
		line-height:20px;
		font-family: 'Bentham', serif;
	}
}

.smaller {
	font-size: 19px !important;
}

.large {
	width: 750px;
	height: 388px;
}

.form {
	* {
		font-size:18px;
		padding:5px;
	}
	label {
		display:inline-block;
		width:110px;
	}
	input {
		width:340px;
		text-align:center;
	}
}

.commentfield {
	text-align:left;
	height:72px;
	font-size:16px !important;
}

.redbutton {
	background-color:white;
	color: $red;
	border: $red 2px solid;
	font-family: 'Pinyon Script', cursive;
	font-size:1.3em;
	height:39px;
	display:inline-block;
	a {
		text-decoration: none;
		color: $red;
		font-family: 'Pinyon Script', cursive;
	}
}

.back {
	display:inline-block;
	width:100px;
	padding:5px;

}

#submit {
	width: 200px;
	position:relative;
	left:165px;
}

.stripebutton {
	width: 170px;
	position:relative;
	left:25px;
}

.bank {
	width: 170px;
	position:relative;
	left:15px;
	display: inline-block;
}

.widebutton {
	width:240px;
	display:block;
}

.complete {
	width: 170px;
	position:relative;
	left:90px;
	display: inline-block;
}

#smalltable {
	tr {
		height:40px;
	}
}

/*progress bar*/

#progress {
 	width: 300px;
 	border: 1px solid gray;
 	position: relative;
 	padding: 2px;
	margin: 0px auto;
	display: block;
}

#percent {
	text-align:center;
	padding-left:200px;

}

#bar {
 	height: 20px;
 	background-color: $green;
}

body {
	background-color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
/*	color: #000;
	&:visited {
		color: #666;
	}
	&:hover {
		color: #fff;
		background-color: #000;
	}*/
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}


