<div>
	<%=image_tag 'logo.png', class: "center", style: "width:200px" %>
</div>
<ul id="nav">
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Donate', new_donation_path %></li>
	<li><%= link_to 'About', about_path %></li>
</ul>
